{% extends "base.html" %}

{% block content %}
    <div id="card-container">

    </div>
    <footer>
        <nav class="horizontal-centered">
            <ul class="pagination announcement-nav">
                <li class="page-item"><a class="page-link" onclick="previous_page()">Previous</a></li>
                <li class="page-item"><a class="page-link" id="current">1</a></li>
                <li class="page-item"><a class="page-link" onclick="next_page()">Next</a></li>
            </ul>
        </nav>
    </footer>
{% endblock %}