 <!DOCTYPE html>
 <html lang="en">
     <head>
         <meta charset="utf-8">

         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='util.css') }}" />

         <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

         <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
      
         <meta name="yandex-verification" content="b7c8b647afdd7c93" />

         <title>DoubleRT</title>
     </head>
     <body>

     </body>
 </html>
