<nav class="pos-f-t navbar navbar-dark fixed-top" style="background: #151719">
    <a class="navbar-brand" href="/">DoubleRT</a>
    <div class="dropdown show">
      <div class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-righ
t: 8em !important; color: #f5f5f5">
        {{session['name']}}
      </div>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
         {% if session["admin"] %}
             <a class="dropdown-item" href="#">Администрирование</a>
             <div class="dropdown-divider"></div>
         {% endif%}
         <a class="dropdown-item" href="#" >Выйти</a>
      </div>
    </div>
</nav>





