<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">DoubleRT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/anouncements">Главная <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Заявки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Офис</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 80px !important;">
                {{ session['name'] or 'user_name' }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if is_admin %}
                    <a class="dropdown-item" href="#">Администрирование</a>
                {% endif %}
                {% if is_hostes %}
                    <a class="dropdown-item" href="#">Обзор запросов</a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Выход</a>
            </div>
        </li>
    </ul>
  </div>
</nav>